<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SiteTitle" value="MIIS Test project"/>
    <add key="Logo" value="images/logo.png"/>
    <add key="MIIS:Caching" value="0"/><!-- No Caching: Useful for debugging -->
    <add key="copyright" value="JM Alarcón 2017-2019"/>
    <add key="cssfile" value="~/CSS/github.css"/>
    <add key="MIIS:TemplateName" value="readthedocs"/>
    <add key="MIIS:Layout" value="main.html"/>
    <add key="MIIS:toc" value="~/toc.md"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name=".md extension" path="*.md" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mdh HTML extension" path="*.mdh" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="index.md"/>
        <add value="index.mdh"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
