<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="sitetitle" value ="MIIS Docs"/>
    <add key="MIIS:UseMDCaching" value ="0"/>
    <add key="MIIS:UseEmoji" value="1" />
    <add key="MIIS:allowDownloading" value="0"/>
    <add key="copyright" value="campusMVP 2017"/>
    <add key="cssfile" value="~/CSS/github.css" />
    <add key="MIIS:TemplateName" value="readthedocs"/>
    <add key="MIIS:Layout" value="main.html"/>
    <add key="MIIS:toc" value="toc.md"/>
    <!-- add key="MIIS:Published" value="false"/ -->
  </appSettings>
  <system.web>
    <compilation debug="true">
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name=".md extension" path="*.md" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mdh HTML extension" path="*.mdh" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".markdown extension" path="*.markdown" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mdown extension" path="*.mdown" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mkdn extension" path="*.mkdn" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mkd extension" path="*.mkd" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="index.md"/>
      </files>
    </defaultDocument>
      <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>