<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MIIS:Layout" value="post.html"/>
    <add key="MIIS:allauthors" value="!!filesFromFolder ~/_data/authors"/>
    <add key="MIIS:posts" value="!!FilesFromFolder ./"/>
    <add key="MIIS:tags" value="!!TagsFromFolder ./"/>
    <add key="MIIS:categs" value="!!CategsFromFolder ./"/>
    <add key="MIIS:Paginate" value="5"/>
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Friendly URL for paging" stopProcessing="true">
          <match url="^page/(\d+)$" />
          <action type="Rewrite" url="/posts/_pagination.md?page={R:1}" />
        </rule>
        <rule name="Friendly URL for the ATOM Feed" stopProcessing="true">
          <match url="^feed$" />
          <action type="Rewrite" url="/posts/_atom.mdh" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
