<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MIIS:Paginate" value="5"/>
    <add key="MIIS:Published" value="false"/>
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Friendly URL for paging" stopProcessing="true">
          <match url="^page/(\d+)$" />
          <action type="Rewrite" url="/posts/_pagination.md?page={R:1}" />
        </rule>
        <rule name="Friendly URL for the ATOM Feed" stopProcessing="true">
          <match url="^feed$" />
          <action type="Rewrite" url="/posts/_atom.mdh" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
